mixin fbform(prfx)
  - ids = {form: "", activity: "", description: "", name: "", email: "", phone: "", callme: "", file: ""}
  each val, index in ids
    - ids[index] = prfx + "_" + index

  form(id=ids.form, method="post", action="/bin/php/ajax_form.php", enctype="multipart/form-data", class="form--writeus")
    label
      input(name='activity', id=ids.activity, type="text", placeholder="вид деятельности")
    label
      input(name='description', id=ids.description, type="text", placeholder="краткое описание задачи")
    label.half
      input(name='name', id=ids.name, type="text", placeholder="ваше имя")
    label.half
      input(name='email', id=ids.email, type="email", placeholder="e-mail")
    label.half
      input(name='phone', id=ids.phone, type="text", placeholder="телефон")
    label.half
      input(name='calltime', id=ids.callme, type="text", placeholder="удобное время для звонка")
    .input--file(data-input-id=ids.file)
      label(for=ids.file) Прикрепить файлы
      input(name="file[]", id=ids.file, type="file")
    button(type="submit", class="inactive") Отправить заявку

doctype html
//[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]
//[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]
//[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]

| <!--[if gt IE 8]><!-->
html(class='no-js', lang='en')
  | <!--<![endif]-->

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block title
      title Test Project Template
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block styles
      link(rel='stylesheet', href='css/normalize.css')
      //- link(rel='stylesheet', href='css/vendor/fancybox/jquery.fancybox.css')
      link(rel='stylesheet', href='css/bp-begin.css')
      link(rel='stylesheet', href='css/main.css')
      link(rel='stylesheet', href='css/bp-tail.css')
    block scripts_top
      script(src='js/vendor/modernizr-2.8.3.min.js')

  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .page
      block content
        .navbar.navbar--service
          .container
            .selector--city.pull-left
              .label
                | мой город:
              .dropdown.inline-block
                a.dropdown-toggle(data-toggle='dropdown', id='citylist') Москва
                  .caret
                ul.dropdown-menu.dropdown-menu-right(area-labelledby='citylist', role='menu')
                  li
                    a(tabindex='-1', href='#') Москва
                  li
                    a(tabindex='-1', href='#') Санкт-Петербург

        h1 Test Project
        .container.container--content
          | hello

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')

    block scripts_bottom
      script(src='js/plugins.js')
      script(src='js/main.js')

      //- Google Analytics: change UA-XXXXX-X to be your site's ID.
      //-
        script
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
